

/* nuevo-usuario.component.css (o tu archivo de estilos correspondiente) */

.avatar {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 50px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo la relación de aspecto */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Fondo blanco */
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

/* Estilo para el contenedor redondeado con scrollbar */
.rounded-container {
  border-radius: 10px; /* Ajusta según sea necesario */
  overflow: auto; /* Esto permite que aparezca el scrollbar solo cuando sea necesario */
  max-height: 600px; /* Ajusta la altura máxima según sea necesario */
}

/* Estilos específicos para el scrollbar */
.rounded-container::-webkit-scrollbar {
  width: 12px;
}

.rounded-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Puedes cambiar el color */
  border-radius: 10px;
}
