
  
  h1 {
    color: red;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fondo blanco */
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  